* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    /* Al’s Breakfast */

    position: absolute;
    width: 680px;
    height: 100px;
    left: 37px;
    top: 14px;

    font-family: Yesteryear, "Brush Script MT", serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 80px;

    color: #17274B;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.navbar {
    position: absolute;
    width: 1200px;
    height: 60px;
    left: 0px;
    top: 130px;

    background: #17274B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navtext {
    transition: font-size 1s;
}
.navtext:hover {
    font-size: 163%;
    cursor: pointer;
}
.menu {

    position: absolute;
    width: 142px;
    height: 24px;
    left: 50px;
    top: 148px;

    font-family: Fira Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 25px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    align-items:center;
}

.hours {

    position: absolute;
    width: 143px;
    height: 24px;
    left: 192px;
    top: 148px;

    font-family: Fira Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 25px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    align-items:center;
}

.about {

    position: absolute;
    width: 141px;
    height: 24px;
    left: 335px;
    top: 148px;

    font-family: Fira Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 25px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    align-items:center;
}

.contact {

    position: absolute;
    width: 141px;
    height: 24px;
    left: 476px;
    top: 148px;

    font-family: Fira Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 25px;

    color: #6B93C0;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    align-items:center;
}

.locationdirections {

    position: absolute;
    width: 323px;
    height: 24px;
    left: 637px;
    top: 148px;

    font-family: Fira Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 25px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    align-items:center;
}

.merchandise {

    position: absolute;
    width: 194px;
    height: 24px;
    left: 970px;
    top: 148px;

    font-family: Fira Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 25px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    align-items:center;
}

.smallheader {
    position: absolute;
    width: 600px;
    height: 40px;
    left: 75px;
    top: 310px;

    font-family: Yesteryear, sans-serif;
    font-style: normal;
    font-weight: lighter;
    line-height: 31px;
    font-size: 50px;

    color: #17274B;

}
.call {
    position: absolute;
    width: 380px;
    height: 40px;
    left: 90px;
    top: 410px;

    font-family: Fira Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    font-size: 25px;

    color: #17274B;
}
.number {
    position: absolute;
    width: 380px;
    height: 40px;
    left: 110px;
    top: 445px;

    font-family: Fira Sans, sans-serif;
    font-style: normal;
    font-weight: lighter;
    line-height: normal;
    font-size: 30px;

    color: #17274B;
}
.send {
    position: absolute;
    width: 380px;
    height: 40px;
    left: 90px;
    top: 535px;

    font-family: Fira Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    font-size: 25px;

    color: #17274B;
}
.email {
    position: absolute;
    width: 380px;
    height: 40px;
    left: 110px;
    top: 570px;

    font-family: Fira Sans, sans-serif;
    font-style: normal;
    font-weight: lighter;
    line-height: normal;
    font-size: 30px;

    color: #17274B;

}
.image {
    position: absolute;
    width: 600px;
    height: 400px;
    left: 600px;
    top: 270px;

    background-image: url("images/interior2.jpg");
    background-size: cover;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.reasons {
    position: absolute;
    width: 1035px;
    height: 272px;
    left: 90px;
    top: 750px;

    font-family: Fira Sans, sans-serif;
    font-style: normal;
    font-weight: lighter;
    line-height: 35px;
    font-size: 16px;

    color: #17274B;
}
span {
    font-family: Fira Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    font-size: 25px;

    color: #17274B;
}

.footer {
    position: absolute;
    width: 1200px;
    height: 80px;
    left: 0px;
    top: 1020px;

    background: #17274B;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    bottom: 0;
    align-items: center;
}
.footertext {
    position: center;
    width: 1030px;
    height: 40px;

    font-family: Fira Sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    font-size: 16px;
    text-align: center;

    color: #FFFFFF;
    padding-top: 27px;
    padding-left: 160px;
    float: left;
}
li {
    line-height: 26px;
}